<h1><b>Calculator Using POST method</b></h1><br>
Addition of Number 1 = <%= mya %> and Number 2 = <%= myb %> is <%= myc %>
<br><br>
Subtraction of Number 1 = <%= mya %> and Number 2 = <%= myb %> is <%= myd %>
<br><br>
Multiplication of Number 1 = <%= mya %> and Number 2 = <%= myb %> is <%= mye %>
<br><br>
Division of Number 1 = <%= mya %> and Number 2 = <%= myb %> is <%= myf %>

<a href="marksheet"><input type="button" value="marksheet" ></a>
<a href="login"><input type="button" value="login" ></a>
<a href="signup"><input type="button" value="signup" ></a>
<a href="/"><input type="button" value="index" ></a>
<a href="form"><input type="button" value="form page" ></a>